S3method("$",unitted)
S3method("$<-",unitted)
S3method("[",unitted)
S3method("[<-",unitted)
S3method(c,unitted)
S3method(print,unitted)
export(Ops.unitted)
export(expect_units)
export(is.unitted)
export(u)
export(units)
export(unitted)
export(v)
export(vector)
export(with)
